<div class="p-grid">
    <div class="p-col-12">
        <form [formGroup]="employeeForm" novalidate>
            <p-toast></p-toast>
            <div class="card">
                <div class="card p-d-flex p-ai-center">
                    <i class="pi pi-cog p-mr-2 p-text-icon-title"></i>
                    <h3>Configuración Empleados</h3>
                </div>
                <div style="justify-content: center;">
                    <p-toolbar styleClass="p-mb-4">
                        <ng-template pTemplate="left">
                            <button pButton pRipple label="Agregar Usuario" icon="pi pi-plus" class="p-mr-2 p-mb-4"
                                (click)="openNew()"></button>
                        </ng-template>
                    </p-toolbar>
                </div>
                <p-table #dt [value]="listEmployess" [columns]="columns" [rows]="10" [paginator]="true"
                    selectionMode="single" [(selection)]="selectedUsers" [rowHover]="true"
                    styleClass="p-datatable-customers" [showCurrentPageReport]="true" styleClass="p-datatable-gridlines"
                    (onRowUnselect)="onRowUnselect($event)" (onRowSelect)="onRowSelect($event)"
                    [rowsPerPageOptions]="[10,25,50,100]">
                    <ng-template pTemplate="caption">
                        
                    </ng-template>
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th pSortableColumn={{field.field}} *ngFor="let field of columns"
                                style="text-align: center;">
                                {{field.header}} <p-sortIcon field={{field.field}}></p-sortIcon>
                            </th>
                            <th></th>
                        </tr>
                        <tr>
                            <th *ngFor="let field of columns">
                                <p-columnFilter type="text" field={{field.field}} ></p-columnFilter>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-listEmployess let-columns="columns">
                        <tr>
                            <td [style]="{overflowWrap: 'break-word', fontSize:'90%'}" *ngFor="let col of columns">
                                {{listEmployess[col.field]}}
                            </td>
                            <td style="text-align: center;">
                                <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success p-mr-2"
                                    (click)="editEmployee(listEmployess)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                    (click)="deleteEmployee(listEmployess.employeeId)"></button>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="summary">
                        <div class="p-d-flex p-ai-center p-jc-between">
                            Cantidad de Usuarios {{listEmployess ? listEmployess.length : 0 }} .
                        </div>
                    </ng-template>
                </p-table>
            </div>

            <p-dialog [(visible)]="productDialog" class="auto !important" [style]="{width: '600px'}"
                header="Crear Empleado" [modal]="true" styleClass="p-fluid">
                <ng-template pTemplate="content">

                    <div class="p-grid p-formgrid">

                        <div class="p-col-12 p-mb-2 p-lg-6 p-mb-lg-0">
                            <span class="p-float-label">
                                <input type="text" id="name" formControlName="name" pInputText
                                    [ngModelOptions]="{standalone: true}">
                                <label>Nombre *</label>
                                <div class="p-error" *ngIf="employeeForm.get('name').hasError('required')">
                                    Debe ingresar nombre
                                </div>
                            </span>
                        </div>

                        <div class="p-col-12 p-mb-2 p-lg-6 p-mb-lg-0">
                            <span class="p-float-label">
                                <input type="text" id="firstLastName" formControlName="firstLastName" pInputText>
                                <label>Primer Apellido *</label>
                                <div class="p-error" *ngIf="employeeForm.get('firstLastName').hasError('required')">
                                    Debe ingresar primer apellido
                                </div>
                            </span>
                        </div>
                    </div>
                    <br>
                    <div class="p-grid p-formgrid">
                        <div class="p-col-12 p-mb-2 p-lg-6 p-mb-lg-0">
                            <span class="p-float-label">
                                <input type="text" id="secondLastName" formControlName="secondLastName" pInputText>
                                <label>Segundo Apellido *</label>
                                <div class="p-error" *ngIf="employeeForm.get('secondLastName').hasError('required')">
                                    Debe ingresar apellido
                                </div>
                            </span>
                        </div>

                        <div class="p-col-12 p-mb-2 p-lg-6 p-mb-lg-0">
                            <span class="p-float-label">
                                <input type="text" id="othersName" formControlName="othersName" pInputText>
                                <label>Otros nombres</label>
                            </span>
                        </div>
                    </div>
                    <br>

                    <div class="p-grid p-formgrid">
                        <div class="p-col-12 p-mb-2 p-lg-6 p-mb-lg-0">
                            <span class="p-float-label">
                                <p-autoComplete formControlName="country" [dropdown]="true" [minLength]="1"
                                    field="description" [suggestions]="listCountries" (completeMethod)="loadCountry()"
                                    [readonly]="true" [forceSelection]="true" (onSelect)="selectedConfiguration()">
                                </p-autoComplete>
                                <label>País *</label>
                                <div class="p-error" *ngIf="employeeForm.get('country').hasError('required')">
                                    Debe ingresar País.
                                </div>
                            </span>
                        </div>
                        <div class="p-col-12 p-mb-2 p-lg-6 p-mb-lg-0">
                            <span class="p-float-label">
                                <p-autoComplete formControlName="area" [dropdown]="true" [minLength]="1" field="name"
                                    [readonly]="true" [suggestions]="listAreas" (completeMethod)="loadArea()"
                                    [forceSelection]="true">
                                </p-autoComplete>
                                <label>Area *</label>
                                <div class="p-error" *ngIf="employeeForm.get('area').hasError('required')">
                                    Debe ingresar Area.
                                </div>
                            </span>
                        </div>
                    </div>
                    <br>

                    <div class="p-grid p-formgrid">
                        <div class="p-col-12 p-mb-2 p-lg-6 p-mb-lg-0">
                            <span class="p-float-label">
                                <input type="text" id="identificationType" formControlName="identificationType"
                                    pInputText>
                                <label>Tipo Identificacion *</label>
                                <div class="p-error"
                                    *ngIf="employeeForm.get('identificationType').hasError('required')">
                                    Debe ingresar tipo identificacion
                                </div>
                            </span>
                        </div>

                        <div class="p-col-12 p-mb-2 p-lg-6 p-mb-lg-0">
                            <span class="p-float-label">
                                <input type="text" id="numberIdentification" formControlName="numberIdentification"
                                    pInputText>
                                <label>Numero Identificacion *</label>
                                <div class="p-error"
                                    *ngIf="employeeForm.get('numberIdentification').hasError('required')">
                                    Debe ingresar numero identificacion
                                </div>
                            </span>
                        </div>

                    </div>
                    <br>

                    <div class="p-col-12 p-mb-2 p-lg-6 p-mb-lg-0">
                        <span class="p-float-label">
                            <p-calendar formControlName="admissionDate" showTime="true" hourFormat="12"
                                [showTime]="false"></p-calendar>
                            <label>fecha admision (*)</label>
                        </span>
                        <div class="p-error" *ngIf="employeeForm.get('admissionDate').hasError('required')">
                            Debe Seleccionar una fecha y hora inicial
                        </div>
                    </div>

                </ng-template>

                <ng-template pTemplate="footer">
                    <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" type="button"
                        (click)="saveEmployee()"></button>

                    <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" type="button"
                        (click)="cancelar()"></button>
                </ng-template>
            </p-dialog>

            <p-confirmDialog message="¿Está seguro de almacenar los cambios realizados?" [style]="{width: '425px'}"
                acceptButtonStyleClass="p-button-text" rejectButtonStyleClass="p-button-text" acceptLabel="Aceptar"
                rejectLabel="Cancelar"></p-confirmDialog>
        </form>
    </div>
</div>